@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,400;1,600;1,400&display=swap');

:root {
    --primary-color: #f50045;
    --secondary-color: #000;
    --bar-height: 0.5rem;
}

body {
    font-family:monospace;
}

.item_wrapper {
    display: flex;
    align-items: center;
}

.three_dots {
    padding-top: 10px;
}

.item_bar {
    position: relative;
    margin-top: 8px;
    height: var(--bar-height);
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.item_bar .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    margin: 0;
    background-color: #14A44D; 
    border-radius: 4px;
    transition: width 100ms ease
}
